<div data-controller="modal self-center">
  <dialog data-modal-target="dialog" class="fixed inset-0 p-8 w-1/2 rounded-lg backdrop:bg-black/80">
      <div class="w-full flex justify-between">
        <h2>Activities</h2>
        <button autofocus data-action="modal#close" class="px-2.5 py-1 bg-blue-500 text-white text-sm rounded">Close</button>
      </div>
      

      <hr/>
      <% if project.activities.any? %>
        <ul>
          <% project.activities.each do |activity| %>
            <li><%= "#{activity.user.email} #{activity.comment? ? "commented" : "changed status" } on #{activity.created_at}" %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No activities yet.</p>
      <% end %>
  </dialog>

  <button data-action="modal#open " class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-1 px-2.5 rounded">View all activities</button>
</div>